<div class="bg-image">
  <div class="container">
    <div class="row mt-10">
      <div class="col-md-6 card-info bg-dark text-white">
        <h2>Contact Information</h2>
        <div>
          <h5>NAME</h5>
          <p>Alexandros Skarmintzos</p>
        </div>
        <div>
          <h5>WEBSITE</h5>
          <p><a href="https://alex.skarmintzos.com/" target="blank">alex.skarmintzos.com</a></p>
        </div>
        <div>
          <h5>PHONE NUMBER</h5>
          <p>+30 6949339175</p>
        </div>
        <div>
          <h5>E-MAIL</h5>
          <p>a.skarmintzos@gmail.com</p>
        </div>
        
        
  
      </div>
      <div class="col-md-6 h-100">
        
      </div>
    </div>
  </div>
</div>


<style>
  .card-info{
    margin: auto;
    padding-top: 20px;
    height: 330px;
    border-radius: .25rem;
  }
  .bg-image{
    position: absolute;
    width: 100%;
    height: calc(100vh - 56px);
    background-image: url('https://picsum.photos/2560/1440');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
  }
</style>
